<!DOCTYPE html>
<body>

    <h1> Main Page</h1>


    <h6> <a href=number> Number </a></h6>
    <h6> <a href=questions> Questions </a></h6>
    <h6> <a href=team> Team </a></h6>
    <h6> <a href=recfilms> Recommended Films </a></h6>
    <h6> <a href=tvshow> Recommended TV Shows</a></h6>
    <h6> <a href=numcubed/param> Number Cubed </a></h6>
    <h6> <a href=divisible/4/2> Num1 divisible by Num2 </a></h6>
    <h6> <a href=count/param > Count string characters </a></h6>
    <h6> <a href=palindrome/param >Is your String s Palindrome ></h6>
    <h6> <a href=story/adj/noun/adverb/verb> Story </a></h6>

</body>
