<!<!DOCTYPE html>

<body>
    <h1> Recommended Films </h1>
    <ul>
        <li> <%=@rec1%> </li>
        <li> <%=@rec2%> </li>
        <li> <%=@rec3%> </li>
    </ul>

    <h6> <a href=main> Main Page </a></h6>
</body>
