<!<!DOCTYPE html>

<body>
    <h1> Recommended TV Shows </h1>
    <ul>
        <li> <%=@tv1%> </li>
        <li> <%=@tv2%> </li>
        <li> <%=@tv3%> </li>
    </ul>

    <h6> <a href=main> Main Page </a></h6>
</body>
